<div> 
  <h3>REGISTRO DE ALUMNO</h3>
  <hr>
  <form>

    <div class="form-group">
      <label>Nombre del alumno:</label>
      <input type="email" class="form-control" placeholder="Enter email" required>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label>Apellido paterno:</label>
        <input type="text" class="form-control" placeholder="Perez" required>
      </div>

      <div class="form-group col-md-6">
        <label>Apellido materno:</label>
        <input type="text" class="form-control" placeholder="Gomez" required>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label>Edad:</label>
        <input class="form-control" type="number" min="6" max="60" placeholder="22" required>
      </div>

      <div class="form-group col-md-6">
        <label>Direccion:</label>
        <input class="form-control" type="text" placeholder="1 AV SUR">
      </div>

    </div>

    <div>

      <div class="form-group col-md-6">
        <label>Correo electronico:</label>
        <input type="email" class="form-control" placeholder="example@example.com">
      </div>

      <div class="form-group col-md-6">
        <label>Genero</label>
        <select class="form-control">
          <option value="h">Hombre</option>
          <option value="m">Mujer</option>
        </select>
      </div>

      <input type="submit" class="btn btn-warning btn-lg btn-block" value="Guardar">

    </div>






  </form>
</div>