<div>
  <form>
    <label>Nombre de la materia: </label>
    <p> <input type="text"> </p>

    <label>Maestro que dara la materia: </label>
    <p>
      <select>
        <option value="id_maestro">Maestro_name</option>
      </select>
    </p>
    
    <button class="btn btn-primary">Guardar</button>
  </form>
</div>