<div>
    <h3>REGISTRO DE MAESTRO</h3>
    <form>
      <label>Nombre(s) del Maestro:</label>
      <p> <input type="text" placeholder="Juan carlos"> </p>
  
      <label>Apellido paterno:</label>
      <p> <input type="text" placeholder="Perez"> </p>
  
      <label>Apellido materno:</label>
      <p> <input type="text" placeholder="Gomez"> </p>
  
      <label>Edad:</label>
      <p> <input type="number" min="6" max="60"> </p>
      
      <label>Direccion:</label>
      <p> <input type="text" placeholder="1 AV SUR"></p>
  
      <label>Correo electronico:</label>
      <p> <input type="email" placeholder="example@example.com"> </p>
  
      <label>Genero</label>    
      <p>
        <select>
          <option value="h">Hombre</option>
          <option value="m">Mujer</option>
        </select>
      </p>
    </form>
  </div>
  